#head1 {
  font-size: 35px;
  font-weight: 800;
  text-align: center;
  text-wrap: wrap;
  text-shadow: 1px 1px 15px rgb(248, 248, 6);
}

.mainDiv {
  background-color: var(--form-color);
  width: 800px;
  border: 5px solid black;
  border-radius: 10px;
  margin: 50px auto;
  box-shadow: 0px 0px 35px 10px rgb(42, 42, 42);
}
.field {
  margin: 0px auto;
  width: 700px;
}
/* fieldset border color changing */
fieldset {
  border: 2px solid #ddd;
}

/* labels */
label {
  color: black;
  font-family: sans-serif, Verdana, Geneva, Tahoma;
  font-size: large;
  font-weight: 800;
}
/* inputs */
input {
  padding: 10px;
  margin: 5px 10px 10px 10px;
  width: 600px;
  cursor: pointer;
  color: black;
  background-color: white;
  border: 2px solid white;
  border-radius: 10px;
  font-family: sans-serif, "Courier New", Courier, monospace;
  font-size: 15px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
input:hover {
  border: 2px solid blue;
}
input:focus {
  cursor: text;
  outline: none;
  border: 2px solid blue;
}

legend {
  color: white;
  text-shadow: 0px 0px 10px black;
  font-size: 20px;
}
.textarea-div {
  width: 630px;
}
textarea {
  outline: none;
  border: 2px solid white;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 15px;
  font-family: sans-serif, "Courier New", Courier, monospace;
  font-weight: bold;
  resize: none;
  width: 100%;
  transition: all 0.2s ease-in-out;
}
textarea:hover {
  border: 2px solid blue;
  cursor: pointer;
}
textarea:focus {
  border: 2px solid blue;
  cursor: text;
}
/* add more button styling */
.add-more-btn {
  background-color: #4caf50;
  text-wrap: nowrap;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  transition: all 0.3s ease;
}
.add-more-btn:hover {
  background-color: #45a049;
  transform: scale(1.05);
}
/* remove button ki styling */
.remove-btn {
  background-color: #ff4444;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 10px 0px 10px 10px;
}
.remove-btn:hover {
  background-color: #cc0000;
}

hr {
  border: 1px solid #ddd;
  outline: none;
}

.experience-entry,
.education-entry {
  margin-top: 30px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

#genRes {
  user-select: none;
  display: block;
  text-wrap: nowrap;
  text-align: center;
  background: rgb(171, 32, 32);
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto;
  width: 130px;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.2s ease-in-out;
}
#genRes:hover {
  transform: scale(1.03);
  background: rgb(206, 15, 15);
}

@media (max-width: 800px) {
  .mainDiv {
    width: 500px;
  }

  .field {
    width: 400px;
  }

  input {
    width: 300px;
  }
  .textarea-div {
    width: 310px;
  }
}

@media (max-width: 500px) {
  .mainDiv {
    width: 300px;
    padding: 0;
  }
  #head1 {
    text-decoration: none;
  }

  .field {
    width: 230px !important;
  }
  input {
    width: 180px;
  }
  .textarea-div {
    width: 200px !important;
  }
}
